<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>newsum</title>
    </head>
    <style>
        center.big {
    line-height: 5;
    }
        center.huge {
    line-height: 10;
    }
    </style>

    <body>
        <center class = "big">
            newsum - An abstractive news summarization model using deep learning <br>

        </center>
         <center >
            Example news: <br>
             Japanese Foreign Minister Keizo Obuchi arrived in <br>
             Moscow on Saturday for talks aimed at laying the groundwork for <br>
             a bilateral peace treaty between Russia and Japan.

        </center>

        <p>
        <center >
            Copy and paste the above example news or submit your news paragraph!
            <form class="" action="/" method="post">
                <textarea rows="12" cols="80" type="text" name="title" value=""></textarea><br>
                <input type="submit" name="" value="submit">
            </form>
        </center>
        </p>

        <p>
        <center class = "big">
            Here is your summary:
            {{result}}<br>
        </center>
        </p>
        <p>
        <center class = "huge">
            Fork newsum on my <a href=https://github.com/hengluchang/newsum> GitHub </a> and build your own summarizer!
        </center>
        </p>
        <p>
        <center>
            Website designed by <a href=https://www.linkedin.com/in/hengluchang>Henry Chang</a> and
            <a href=https://gges5110.github.io/>Gerry Wu</a>
        </center>
        </p>
    </body>
</html>
